body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.851);
}

/* Home page  */

.home-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.search-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.search-input {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.search-input:placeholder-shown {
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-input::placeholder {
  color: black;
  opacity: 0.6;
}

.posts-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.items-per-page {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.items-per-page label {
  margin-right: 10px;
}

.post-container {
  border: 1px solid #ddd;
  padding: 10px;
  text-decoration: none;
  color: #333;
  display: block;
  border-radius: 0.4rem;
  height: 250px;
  background-color: #f5f5f5c9;
  transition: all 0.5s ease-in-out;
}

.post-container:hover {
  background-color: rgba(0, 0, 0, 0.851);
  color: white;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
}

.pagination-button:hover {
  background-color: #00356e;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.user-category-filters {
  display: grid;
  grid-template-columns: 130px 130px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 5rem;
  width: 8rem;
  height: 8rem;
  border: 0.8rem solid aqua;
  border-radius: 50%;
  border-right-color: rgb(27, 194, 12);
  animation: load 1s ease-in-out infinite;
}

.error-container {
  text-align: center;
  padding: 20px;
  color: #f00;
}

/* Details page */

.details-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 1rem 3rem;
  color: white;
}

.back-button {
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin: 1.2rem;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

.back-button:hover {
  color: rgb(27, 194, 12);
  font-size: 1.3rem;
}

.visually-hidden {
  display: none;
}

.post-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.post-body {
  font-size: 22px;
  margin-bottom: 20px;
}

.comments-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.comment-body {
  font-size: 14px;
}

.error-message {
  font-size: 18px;
  color: #f00;
}

@keyframes load {
  0% {
    border-right-color: rgb(27, 194, 12);
  }

  50% {
    border-right-color: rgb(197, 90, 23);
  }

  100% {
    transform: rotate(360deg);
    border-right-color: rgb(221, 214, 18);
  }
}

@media (max-width: 600px) {
  .search-features {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
